

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}

.images{
    width: 250px;
    height: 200px;
    margin-left: 20px;
    margin-top: 100px;
  }
  
  .combo{
    width: 250px;
    height: 400px;
    background-color:#444444;
    margin-top: 15px;
    margin-left: 20px;

  }

  #kayanyazi{
    color: white;
    background-color: tomato;
  }

.left{
    position: fixed;
}

 .resim-vhs{
  width: 250px;
  border-radius: 20px;
  height: 400px;
  float: right;
  margin-top:80px ;
  margin-right:300px ;

} 


.resim{
  width: 500px;
  height: 300px;;
  float:left;
  margin-top: 80px;
  border-radius:20px ;
  margin-left:60px ;

}


.resim-jungle{
  width: 500px;
  height: 300px;;
  margin-top: 20px;
  float:left;
  border-radius:20px ;
  margin-left:60px ;

}

.slider{
  margin-top: 150px;
}

#yazi{
  margin:80px auto;
  padding:20px;
  width: 300px;
  font-size:25px;
  background: #34495e;
  color:#ecf0f1;
  border: solid 3px #16a085;
}

.footer{
  position: fixed;
      bottom:  0px;
      left: 0px;
      width: 100%;
      height: 50px;
      padding:15px;
      background-color: #444444;
}