

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: white;
}

.images{
    width: 250px;
    height: 200px;
    margin-left: 20px;
    margin-top: 100px;
  }
  
  .combo{
    width: 250px;
    height: 400px;
    background-color:#444444;
    margin-top: 15px;
    margin-left: 20px;

  }

  #kayanyazi{
    color: white;
    background-color: tomato;
  }

.left{
    position: fixed;
}

.resim{
  width: 650px;
  height: 400px;
  margin-top: 30px;
  position: relative;
  margin-left: 650px;
  margin-bottom: 10px;
}
.resim{
  position: relative;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;

}

.resim:hover{
  z-index:2;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);  
  -moz-transform: scale(1.5);
  transform: scale(1.5);

}

 figure {
  position: relative;
  padding: 0;
  width: 300px;
  max-height: 300px;
  max-width: 50vw;
margin-top: 40px;

  margin-top: 30px;

}

figure::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image:url('/images/pavelaktas.jpg');
  background-size: 100% 100%;
  filter: blur(15px) saturate(2);
}
  img {
  display: block;
  width: 100%;
  height: 100px;
  border-radius: 3px;
}




#yazi{
  margin:80px auto;
  padding:20px;
  width: 300px;
  font-size:25px;
  background: #34495e;
  color:#ecf0f1;
  border: solid 3px #16a085;
}

.footer{
      position: relative;
      bottom:  0px;
      left: 0px;
      width: 100%;
      height: 50px;
      padding:15px;
      background-color: #444444;
}

.footere{
  width: 100%;
  height: 50px;
  background-color: #444444;  
  margin-top: 100%;
}
